@use "../../styles/mixin.scss" as mixin;

.autocompleteWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    position: relative;
}

::placeholder {
    color: mixin.$color-secondary-2;
    font-size: 14px;
}

.suggestionList {
    position: absolute;
    top: 35px;
    border: 1px solid #eee;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.activeSuggestion{
    background-color: mixin.$color-secondary-1;
    padding: 10px;
    padding-left: 50px;
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        left: 1em;
        top: 0.5em;
        background-size: cover;
        width: 18px;
        height: 18px;
        background-image: url(../../assets/images/historial.svg);
    }
}

.inactiveSuggestion {
    padding: 10px;
    padding-left: 50px;
    position: relative;
    &::before {
            content: '';
            display: block;
            position: absolute;
            left: 1em;
            top: 0.5em;
            background-size: cover;
            width: 18px;
            height: 18px;
            background-image: url(../../assets/images/historial.svg);
        }
}

.navInputSearch{
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 10px;
    width: 60vw;
    height: 30px;
    border: none;
    &:focus {
           outline: none;
        }
}


.searchButton{
    box-sizing: border-box;
    border: none;
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navIconSearch{
    background-image: url(../../assets/images/ic_Search@2x.png.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    width: 25px;
    height: 25px;
}