@use "../../styles/mixin.scss" as mixin;

.cardContainer {
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    border-bottom: 1px solid #eee;
}

.priceContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
    font-size: mixin.$font-size-24;
    margin-bottom: mixin.$gap-32;
}

.cardDescription{
    margin-top: mixin.$gap-16;
    width: 40%;
}

.cardLocation{
    font-size: mixin.$font-size-12;
    color: mixin.$color-secondary-2;
    margin-top: mixin.$gap-16;
    margin-right: auto;
    margin-left: auto;
}

.cardImageContainer {
    width: 180px;
    height: 100%;
    margin: mixin.$gap-16;
    cursor: pointer;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: auto 180 / 180;
    border-radius: 4px;
}

.shippingLogo {
    background-image: url(../../assets/images/ic_shipping@2x.png.png);
    height: 20px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: 15px;
    text-indent: -999px;
}

.itemTitle {
    font-size: mixin.$font-size-18;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
}

.itemCondition {
    margin: 0
}